@charset "UTF-8";

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.section {
  text-align: center;
}

.section__container {
  max-width: 1200px;
}
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px;
}
h1::after {
  position: absolute;
  clear: both;
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--color-dark-grey);
  left: 50%;
  top: 110%;
  transition: all var(--animation-duration) ease;
}
h1::before {
  position: absolute;
  clear: both;
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--color-dark-grey);
  right: 50%;
  top: 110%;
  transition: all var(--animation-duration) ease;
}

.ratio-16-9::after {
  content:"";
  display:block;
  padding-top:56.25%;
}

.ratio-1-1::after {
  content:"";
  display:block;
  padding-top:100%;
}

.relative {
  position:relative;
}

.abs-full {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*Global root Start*/
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-right-blue: #2196f4;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #cdea12;
  /*Global End*/

  /* font size */
  --font-large: 80px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-mrcro: 14px;

  /* font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}
@media only screen and (max-width: 1000px) {
  .text-effect {
    font-size: 55px;
  }
}
@media only screen and (max-width: 750px) {
  .text-effect {
    font-size: 40px;
  }
}
@media only screen and (max-width: 580px) {
  .text-effect {
    font-size: 30px;
  }
}
@media only screen and (max-width: 476px) {
  .text-effect {
    font-size: 24px;
  }
}
@media only screen and (max-width: 430px) {
  .text-effect {
    font-size: 16px;
  }
}

/* nav__bar Start */
#nav__bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: var(--animation-duration);
}

.nav__bar__container {
  display: flex;
  margin-right: 100px;
}

#nav__bar.navbar__white {
	background-color: white;
	border:1px solid gray;
}
#nav__bar.navbar__dark {
  transition: var(--animation-duration);
  background-color: rgba(0, 0, 0, 0.9);
}
.navber__menu__item {
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  transition: background-color 0.3s;
  border: 1px solid transparent;
  font-weight: var(--weight-semi-bold);
  color: var(--color-light-white);
}

.nav__bar__logo {
  margin-left: 50px;
}

.nav__bar__logo > img {
  width: 100px;
  cursor: pointer;
}

.nav__bar__menu__icon {
  cursor: pointer;
  display: none;
}

.navber__menu__item.right,
.navber__menu__item:hover {
  color: var(--color-green);
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
  transition: var(--animation-duration);
}

@media (max-width: 600px) {
  .home__title {
    font-size: 60px;
  }
  .home_semi__title {
    font-size: 30px;
  }
  .home__text {
    font-size: 14px;
    line-height: 25px;
  }
}
@media ( max-width : 800px) {
	#nav__bar {
		flex-direction: column;
		align-items: flex-start;
	}
	#nav__bar {
		background-color: rgba(0, 0, 0, 0.9);
	}
	.nav__bar__logo > img {
		width:70px;
	}
	.nav__bar__container {
		flex-direction: column;
		text-align: center;
		width: 100%;
		display: none;
	}
	.navber__menu__item {
		display: block;
		padding: 18px;
		margin: 10px;
	}
	.nav__bar__container.open {
		display: block;
	}
	.nav__bar__menu__icon {
		position: absolute;
		top: 20px;
		right: 18px;
		cursor: pointer;
		display: block;
		margin-right: 30px;
		font-size: var(--font-regular);
		color: var(--color-light-white);
		color:white;
	}
}


@media (max-width: 400px) {
  .home__title {
    font-size: 42px;
  }
  .home_semi__title {
    font-size: 25px;
  }
  .home__text {
    font-size: 14px;
    line-height: 25px;
  }
}
/* nav__bar End */