@charset "UTF-8";

/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.absolute-left {
	position: absolute;
	left: 0;
}

.absolute-right {
	position: absolute;
	right: 0;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
}

.absolute-top {
	position: absolute;
	top: 0;
}

.absolute-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.absolute-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.absolute-middle.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.relative {
	position: relative;
}

.cell {
	float: left;
	box-sizing: border-box;
}

.cell-right {
	float: right;
	box-sizing: border-box;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.clear-both {
	clear: both;
}

.img-box>img {
	width: 100%;
	display: block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.line-height-0 {
	line-height: 0;
}

.line-height-0>* {
	line-height: normal;
}

.height-100p {
	height: 100%;
}

.table-row {
	display: table;
}

.table-row.row::after {
	display: inline;
	clear: non;
}

.table-row>.cell {
	float: none;
	display: table-cell;
}

/* 라이브러리 - flex */
*>.flex {
	display: flex;
}

*>.flex-grow-1 {
	flex-grow: 1;
}

*>.flex-jc-s {
	justify-content: flex-start;
}

*>.flex-jc-e {
	justify-content: flex-end;
}

*>.flex-jc-sb {
	justify-content: space-between;
}

*>.flex-ai-c {
	align-items: center;
}

*>.flex-ai-s {
	align-items: flex-start;
}

*>.flex-ai-e {
	align-items: flex-end;
}

*>.flex-as-s {
	align-self: stretch;
}

*>.flex-as-c {
	align-self: center;
}

*>.flex-as-s {
	align-self: flex-start;
}

*>.flex-as-e {
	align-self: flex-end;
}

*>.flex-column-nowrap {
	flex-flow: column nowrap;
}

*>.flex-column-wrap {
	flex-flow: column wrap;
}

.flex-ch-basis-0>* {
	flex-basis: 0;
}

*>.flex-1-0-0 {
	flex: 1 0 0;
}

/* 커스텀 */
.con {
	max-width: 1356px;
}

@media ( min-width :800px) {
	.visible-on-sm-down {
		display: none;
	}
}

@media ( max-width :799px) {
	.visible-on-md-up {
		display: none;
	}
}

h1 {
	text-align: center;
	margin-top: 50px;
}

/* 로고 */
.logo {
	margin: 20px auto;
	width: 150px;
	margin-bottom: 30px;
}

/* 탑바 시작 */
.top-bar {
	height: 70px;
	color: black;
	top: 70px;
}

.top-bar.follow {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: black;
	color: rgb(207, 206, 253);
}

.logo.follow2 {
	bottom: -20px;
	right: 10px;
	position: fixed;
	width: 50px;
	background-color: rgb(207, 206, 253);
	border-radius: 50%;
}

/* 1차 메뉴 */
.top-bar .menu-box-1 {
	margin: 0 auto;
	width: 100%;
}

.top-bar .menu-box-1 ul {
	width: 100%;
}

.top-bar .menu-box-1 ul li {
	width: 100%;
}

.top-bar .menu-box-1>ul>li>a {
	white-space: nowrap;
	width: 100%;
	justify-content: space-around;
	font-weight: bold;
}

.top-bar .menu-box-1>ul>li:hover>a {
	color: rgb(99, 1, 155);
}

.top-bar .menu-box-1>ul>li {
	position: relative;
}

.top-bar .menu-box-1>ul>li>a::before {
	clear: both;
	content: "";
	width: 0%;
	height: 1px;
	bottom: 100%;
	right: 0%;
	position: absolute;
	background-color: rgb(218, 0, 0);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.top-bar .menu-box-1>ul>li:hover>a::before {
	visibility: visible;
	opacity: 1;
	width: 100%;
	bottom: 100%;
	right: 0%;
	transition: 0.5s;
}

.top-bar .menu-box-1>ul>li>a::after {
	clear: both;
	content: "";
	width: 0%;
	height: 1px;
	top: 100%;
	left: 0%;
	position: absolute;
	background-color: rgb(218, 0, 0);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	z-index: 1;
}

.top-bar .menu-box-1>ul>li:hover>a::after {
	visibility: visible;
	opacity: 1;
	width: 100%;
	top: 100%;
	left: 0%;
	transition: 0.5s;
}

/* 2차 메뉴 */
.top-bar .menu-box-1>ul ul {
	display: none;
}

.top-bar .menu-box-1>ul>li:hover>ul {
	display: block;
}

.top-bar .menu-box-1>ul>li>ul>li>a {
	padding: 15px 0;
	text-align: center;
	font-size: 0.9rem;
	background-color: black;
	color: rgb(207, 206, 253);
}

.top-bar .menu-box-1>ul>li>ul>li:hover>a {
	color: black;
	background-color: rgb(207, 206, 253);
}

/* 모바일 탑바 */
.mobile-top-bar {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.mobile-top-bar .btn-toggle-mobile-side-bar {
	width: 20px;
	height: 20px;
	position: relative;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div {
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: rgb(207, 206, 253);
	top: 0;
	left: 0;
	transition: top .2s .2s, transform .2s 0s, visibility 0s;
}

.mobile-top-bar .btn-toggle-mobile-side-bar:hover>div {
	background-color: rgb(218, 0, 0);
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div {
	transition: top .2s .0s, transform .2s .2s, visibility 0s;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div:nth-child(2) {
	top: 40%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar>div:nth-child(3) {
	top: 80%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div {
	top: 40%;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(1) {
	transform: rotate(45deg);
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(2) {
	visibility: hidden;
}

.mobile-top-bar .btn-toggle-mobile-side-bar.active>div:nth-child(3) {
	transform: rotate(-45deg);
}

.mobile-top-bar .mlogo {
	width: 35px;
	margin: 0 auto;
	margin-left: -10px;
}

@media ( max-width :799px) {
	body {
		padding-top: 50px;
	}
}

/* 모바일 사이드바 */
.mobile-side-bar {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s;
	background-color: black;
	color: rgb(207, 206, 253);
}

.mobile-side-bar.active {
	visibility: visible;
	opacity: 1;
}

.mobile-side-bar>.menu-box-1 ul li a {
	text-align: center;
	padding: 15px;
	font-size: 0.7rem;
}

.mobile-side-bar>.menu-box-1>ul>li>a {
	font-size: 0.8rem;
	text-align: center;
	padding: 15px;
	font-weight: bold;
}

.mobile-side-bar>.menu-box-1 ul>li:hover>a {
	background-color: rgb(207, 206, 253);
	color: black;
}

.mobile-side-bar>.menu-box-1>ul ul {
	transition: 0.3s;
	background-color: black;
	display: none;
}

.mobile-side-bar>.menu-box-1 ul>li:hover>ul {
	display: block;
	transition: 0.3s;
}