
/*
h1::after {
    content: "";
    width: 40%;
    display: block;
    border-bottom: 3px solid rgb(218, 0, 0);
    margin-left: auto;
    margin-right: auto;
}*/
body{
	position: relative;
}
.bg__item {
	position: absolute;
	z-index: -1;
}

.bg__item>img {
	width: 700px;
}

.bg__item:first-child {
	top: 0;
	right: 0;
	z-index: -1;
}

.bg__item:first-child>img {
	width: 500px;
	opacity: 0.6;
}

.bg__item:nth-child(2) {
	top: 0;
	left: 0;
}

.bg__item:nth-child(2)>img {
	width: 300px;
}

.bg__item:last-child {
	buttom: 0;
	left: 0;
	z-index: -2;
}

.bg__item:nth-child(3)>img {
	opacity: 0.5;
}