@charset "UTF-8";

/* 카테고리 */
.cateItem {
}

.cateItem > ul {
	text-align: center;
}

.cateItem > ul > li {
	display: inline-block;
	position: relative;
}

.cateItem > ul > li > a {
	display: block;
	padding: 10px 20px;
	
}

.cateItem > ul > li.current {
	color: blue;
	font-weight: bold;
	border-bottom: 1px solid red;
	
}

.cateItem > ul > li > a::after {
	clear: both;
	content: "";
	position: absolute;
	top:100%;
	left:50%;
	width: 0;
	height: 1px;
	background-color:red;
	transition: 0.4s;
}

.cateItem > ul > li:hover > a::after {
	width:50%;
	transition: 0.4s;
}

.cateItem > ul > li > a::before {
	clear: both;
	content: "";
	position: absolute;
	top:100%;
	right:50%;
	width: 0;
	height: 1px;
	background-color:red;
	transition: 0.4s;
}

.cateItem > ul > li:hover > a::before {
	width:50%;
	transition: 0.4s;
}

/* 테이블 박스(양 옆 전체) */
.table-box {
	margin: 30px auto 20px auto;
	width: 100%;
	text-align: center;
}

/* 테이블 */
.table-box > table {
	width: 100%;
}

.table-box > table {
	border-bottom: 1px solid skyblue;
	border-collapse: collapse;
}

.table-box > table > thead {
	background-color: black;
	color: rgb(207, 206, 253);
}

/* 테이블 글자 */
.table-box > table th, .table-box > table td {
	padding: 10px 20px;
}

.table-box > table td {
	border-bottom: 1px solid rgb(207, 206, 253);
}

.table-box > table td > a:hover {
	color: rgb(218, 0, 0);
	text-decoration: underline;
}

.table-box > table th:nth-child(2) {
	padding: 10px 150px;
}

/* 페이지 */
.page-box > ul > li > a {
	padding: 0 15px;
	color: #787878;
}

.page-box > ul > li:hover > a {
	color: black;
}

.page-box > ul > li.current > a {
	color: rgb(218, 0, 0);
}