@charset "UTF-8";
/*<a href="./detail?id=<%=article.getId()%>"><%=article.getId()%>,
					<%=article.getCateItemId()%>, <%=article.getTitle()%></a>*/
/* 카테고리 */
body {
	height: 100%;
}

.article__container {
	position: relative;
	height: 100%;
	width: 100%;
}

.bg__item {
	position: absolute;
	z-index: -1;
}

.bg__item>img {
	width: 700px;
}

.bg__item:first-child {
	top: 0;
	right: 0;
	z-index: -1;
}

.bg__item:first-child>img {
	width: 500px;
	opacity: 0.6;
}

.bg__item:nth-child(2) {
	top: 0;
	left: 0;
}

.bg__item:nth-child(2)>img {
	width: 300px;
}

.bg__item:last-child {
	buttom: 0;
	left: 0;
	z-index: -2;
}

.bg__item:nth-child(3)>img {
	opacity: 0.5;
}

.cateItem>ul {
	text-align: center;
}

.cateItem>ul>li {
	display: inline-block;
	position: relative;
}

.cateItem>ul>li>a {
	display: block;
	padding: 10px 20px;
}

.cateItem>ul>li.current {
	color: blue;
	font-weight: bold;
	border-bottom: 1px solid red;
}

.cateItem>ul>li>a::after {
	clear: both;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 1px;
	background-color: red;
	transition: 0.4s;
}

.cateItem>ul>li:hover>a::after {
	width: 50%;
	transition: 0.4s;
}

.cateItem>ul>li>a::before {
	clear: both;
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	width: 0;
	height: 1px;
	background-color: red;
	transition: 0.4s;
}

.cateItem>ul>li:hover>a::before {
	width: 50%;
	transition: 0.4s;
}

/* 테이블 박스(양 옆 전체) */
.table-box {
	margin: 30px auto 20px auto;
	width: 100%;
	text-align: center;
}

/* 테이블 */
.table-box>table {
	width: 100%;
}

.table-box>table {
	border-bottom: 1px solid skyblue;
	border-collapse: collapse;
}

.table-box>table>thead {
	background-color: black;
	color: rgb(207, 206, 253);
}

/* 테이블 글자 */
.table-box>table th, .table-box>table td {
	padding: 10px 20px;
}

.table-box>table td {
	border-bottom: 1px solid rgb(207, 206, 253);
}

.table-box>table td>a:hover {
	color: rgb(218, 0, 0);
	text-decoration: underline;
}

.table-box>table th:nth-child(2) {
	padding: 10px 150px;
}

/* 페이지 */
.page-box>ul>li>a {
	padding: 0 15px;
	color: #787878;
}

.page-box>ul>li:hover>a {
	color: black;
}

.page-box>ul>li.current>a {
	color: rgb(218, 0, 0);
}

/*카테고리 리스트 */
.category__box {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
}

.category__list {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.category__box {
	display: flex;
	flex-direction: column;
}

.category__list>.category__item:hover {
	color: var(- -color-green);
	transition: 0.3s;
}

.category__item {
	position: relative;
	transition: 0.3s;
}

.category__item>a {
	color: var(- -color-drak-gray);
}

.category__item:not(:last-child)::before {
	position: absolute;
	clear: both;
	content: "";
	top: 0%;
	right: 5px;
	width: 1px;
	height: 100%;
	background-color: black;
}

.category__item {
	padding: 0 20px;
}

.article__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* 제목 */
.head__name>h1 {
	text-align: center;
	line-height: 75px;
}

.head__name>p {
	color: gray;
}

.head__name {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	margin: 0;
}

.search-box {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 20px;
}

.article__box {
	width: 100%;
	margin: 20px;
}

.article__list {
	width: 100%;
}

.article__item:first-child {
	border-top: 1px solid black;
}

.article__item:not(:first-child) {
	border-top: 1px solid gray;
}

.article__list {
	width: 100%;
}

.article__box {
	width: 100%;
}

.article__item {
	align-items: center;
	width: 100%;
	padding-top: 10px;
	height: 50px;
}

.article__item:hover {
	background-color: rgba(230, 230, 230, 0.5);
}

.article__item>span:nth-child(1) {
	float: left;
	width: 15%;
}

.article__item>span>a {
	color: #4d4d4d;
	
}
.article__item>span:nth-child(2)>a{
	color:#cdea12;
}

.article__item>span:nth-child(2) {
	float: left;
	width: 15%;
}

.article__item>span {
	width: 100%;
	white-space: nowrap;
}

.article__item>span:nth-child(3) {
	float: left;
	width: 59%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}

.article__item>span:nth-child(4) {
	float: left;
	width: 10%;
}

.category__item {
	font-weight: bold;
	color: var(- -color--dark-gray);
}

.page-box {
	padding-bottom: 30px;
}

.flex-jc-c {
	display: flex;
}

.total {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
}

.write {
	padding: 0px 0px 0px 20px;
}

.article__item {
	
}